
//updated ver
* {
  box-sizing:border-box;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.heading-primary {
  font-size:2em;
  padding:2em;
  text-align:center;
}
.accordion_twitter_insights dl,
.accordion_twitter_insights-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion_twitter_insights dd,
.accordion_twitter_insights__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1.5em; 
}
.accordion_twitter_insights p {
  padding:1em 2em 1em 2em;
}

.profile_globale{
  position:relative;
  
  height: 20px
}
.accordion_twitter_insights {
    
    background-color:#eee;
    width: 300px;
     margin-left: 0px;
    margin-top: 150px;
    
}
container_twitter_insights {
  max-width:960px;
  margin:0 auto;
  padding:2em 0 2em 0;
}
.accordion_twitter_insightsTitle,
.accordion_twitter_insights__Heading {
 background-color:#38cc70; 
   text-align:center;
     font-weight:700; 
          padding:2em;
          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordion_twitter_insightsTitleActive, 
.accordion_twitter_insightsTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordion_twitter_insightsItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion_twitter_insights to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordion_twitter_insightsItem.is-collapsed {
    max-height:0;
}
.no-js .accordion_twitter_insightsItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordion_twitter_insightsIn 0.65s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordion_twitter_insightsOut 0.75s alternate ease-in-out both 1;
}
@keyframes accordion_twitter_insightsIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordion_twitter_insightsOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}